
.carousel .list .item{
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 20;
    transition: 1s;
}

/* .carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
} */

/* .carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){ */
.carousel .list .item:nth-child(1){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(2){
    left: 65%;
}

.carousel .list .item:nth-child(3){
    left: calc(65% + 200px);
}

.carousel .list .item:nth-child(4){
    left: calc(65% + 400px);
}

.carousel .list .item:nth-child(5){
    left: calc(65% + 600px);
}

.carousel .list .item:nth-child(6){
    left: calc(65% + 800px);
    opacity: 0;
}

.carousel .list .item:nth-child(n+7){
    left: calc(65% + 1000px);
}

.list .item:nth-child(1) .content{
    display: block;
}

.content .slider-info-container{
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .slider-info-container h1{
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
}

@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

/* Carousel */

/* next prev arrows */

.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    transition: .5s;
    cursor: pointer;
}

.prev-btn{
    box-shadow: -4px 0 4px rgba(5, 126, 255, 0.5), 0 0 5px rgba(5, 126, 255, 0.4);
}

.next-btn{
    box-shadow: 4px 0 4px rgba(237, 0, 0, 0.5), 0 0 5px rgba(237, 0, 0, 0.4);
}

.slider-info-container{
    gap: 2.5rem;
    padding: 2.5rem;
}

.slider-main-right{
    gap: 2.5rem;
}

.slider-main-right p{
    font-size: 1.1rem;
}

.direct-download-btn h3{
    font-size: 1.8rem;
}

.slider-main-left img{
    width: 30rem;
    height: 30rem;
}

.content{
    top: 10vh;
}

/* .arrows button:hover{
    background: rgb(60, 60, 60);
    color: #000;
} */

/* Responsive Design */

@media (max-width: 1200px) {
    .slider-main-right{
        gap: 1.5vw;
    }

    .slider-info-container{
        scale: 0.9;
        margin-top: -5vh;
    }
}

@media (max-width: 1050px) {
    .content{
        padding-top: 5vh;
    }

    .slider-main-right{
        gap: 3vw;
    }

    .slider-main-right h1{
        scale: 0.8;
    }

    .slider-main-right p{
        font-size: 1rem;
    }

    .direct-download-btn h3{
        font-size: 1.4rem;
    }

    .prev-btn, .next-btn{
        scale: 0.8;
    }

    .slider-main-left img{
        width: 25rem;
        height: 25rem;
    }

    .slider-info-container{
        scale: 0.8;
        margin-top: -15vh;
    }
}

@media (max-width: 764px) {
    .carousel{
        display: none;
    }
}

@media screen and (max-width: 999px){
    
    header{
        padding-left: 50px;
    }

    .list .item .content{
        left: 50px;
    }

    .content .title, .content .name{
        font-size: 70px;
    }

    .content .des{
        font-size: 16px;
    }

}

@media screen and (max-width: 690px){
    header nav a{
        font-size: 14px;
        margin-right: 0;
    }

    .list .item .content{
        top: 40%;
    }

    .content .title, .content .name{
        font-size: 45px;
    }

    .content .btn button{
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media screen and (max-height: 650px){ 
    .slider-info-container{ 
        scale: 0.8; 
        margin-top: -10vh; 
    } 
}