@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: url('/assets/cursor.webp'), auto !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ED5F54;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection{
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  margin: 0;
  font-family: "brandon-grotesque",source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cdcbca;
  background-color: #0d0d0d;
  overflow-x: hidden;
}

.home > h1{
/* .b-canvas{ */
    font-weight: bold;
    background: linear-gradient(to right, #46BADD, #ED5F55);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Jost", sans-serif;
    font-weight: 800;
}

.white-glow-effect {
  text-shadow: 
    0 0 5px #b9b9b9, 
    0 0 5px #b9b9b9, 
    0 0 10px #b9b9b9, 
    /* 0 0 40px #ff00ff, 
    0 0 80px #ff00ff, 
    0 0 90px #ff00ff, 
    0 0 100px #ff00ff, 
    0 0 150px #ff00ff; */
    /* 0 0 20px #ef0004, 
    0 0 40px #ef0004, 
    0 0 50px #ef0004, 
    0 0 60px #ef0004, 
    0 0 80px #ef0004; */
    0 0 10px #ef0004, 
    0 0 10px #ef0004, 
    0 0 10px #ef0004, 
    0 0 10px #ef0004, 
    0 0 20px #ef0004;
}

.world-map-page-color-blender {
  background: linear-gradient(to bottom, transparent, black);
}

/* Starry Mouse */

.star {
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  pointer-events: none;
  transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
}

@media  (max-width: 764px) {
  .second-section{
    display: none;
  }
}