@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
<<<<<<< HEAD
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'montserrat';
}
 
html, body {
  height: 100%;
  width: 100%;
}

.home{
  background: url(/assets/grid.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home > h1{
  font-weight: bold;
  background: linear-gradient(to right, #46BADD, #ED5F55);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-family: "Jost", sans-serif;
  font-weight: 800;
}

canvas{
  height: 40vh;
=======
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
  }

body {
  margin: 0;
  font-family: "brandon-grotesque",source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cdcbca;
  background-color: #0d0d0d;
}

.home > h1{
    font-weight: bold;
    background: linear-gradient(to right, #46BADD, #ED5F55);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Jost", sans-serif;
    font-weight: 800;
>>>>>>> Sahil-main
}