@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
  }

html,
body,
#root
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
  margin: 0;
  font-family: "brandon-grotesque",source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cdcbca;
  background-color: #0d0d0d;
}

.home > h1{
    font-weight: bold;
    background: linear-gradient(to right, #46BADD, #ED5F55);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-family: "Jost", sans-serif;
    font-weight: 700;
}